@charset "UTF-8";

#dad7cd #a3b18a #588157 #3a5a40 #344e41 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    width: 90%;
    top: 0%;
    margin-left: 50px;
    position:;
}

header h1 {
    margin-bottom: 10px;
    font-size: 70px;
    color: #347433;

}
header h2 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #347433;
}
nav {
    margin-top: 10px;
}

header nav a {
    color: #cecece;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline
}
/*----------------------------------------------------------------------------------------*/
a:hover {
    color: #347433;
}
/*----------------------------------------------------------------------------------------*/
main {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}
main h2 {
    margin-bottom: 20px;
    color: #347433;
}
main p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
/*----------------------------------------------------------------------------------------*/
body {
    background-image: url(img/Gemini_Generated_Image_rcq9yzrcq9yzrcq9.png);;
    background-size: cover;
    background-position: center;
}

/*----------------------------------------------------------------------------------------*/
.menu-login {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.menu-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-login label {
    display: block;
    margin-top: 10px;
}

.menu-login input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

.menu-login button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #588157;
    color: #cecece;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-login button:hover {
    background: #c4c4c4; ;
}
/*----------------------------------------------------------------------------------------*/
footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #035102;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 92%;
    margin-left: 50px;
    border-radius: 15px;
    margin-top: 20px;
}
/*----------------------------------------------------------------------------------------*/
div.document-links {
    margin-top: 20px;
    padding: 15px;
    background-color: #728f1c;
    border: 1px solid #ddd;
    border-radius: 8px;
}
div.document-links h3 {
    margin-bottom: 10px;
    color: rgb(243, 243, 243);
}
div.document-links a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
div.document-links a:hover {
    color: #344e41;
}
/*----------------------------------------------------------------------------------------*/
form {
    display: auto;
    flex-direction: column;   /* itens em coluna */
    gap: 10px;                /* espaço entre os itens */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
/*----------------------------------------------------------------------------------------*/
button {
    padding: 10px;
    background-color: #347433;
    color: rgb(220, 229, 221);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translate(-3px, -3px);
    transition: transform .3s;
}

button:hover {
    background-color: #588157;
}

button form {
    color: #588157;
}

label {
    font-weight: bold;
}
/*----------------------------------------------------------------------------------------*/
