.hamburger {
  font-size: 30px;
  cursor: pointer;
  display: block; /* visível no desktop */
}

#nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-links li {
  display: flex;
  flex-direction: row;
  padding: 0;
}

#nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hidden {
  display: none;
}
