@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    width: 90%;
    position: sticky;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(145, 235, 235, 0.597);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

header img {
    width: 100px;
}

header ul {
    display: flex;

}

header ul li {
    display: flex;
}

header ul li a {
    list-style-type: none;
    text-decoration: none;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(105, 105, 232);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

header ul li a:hover {
    background-color: blue;
    transform: translateY(-8px);
    box-shadow: 2px 2px 4px white;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

section#cursos {
    background-color: rgba(145, 235, 235, 0.597);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

section#cursos h2 {
    margin-bottom: 15px;
}


section#cursos form {
    margin: auto;
    background-color: lightcyan;
    padding: 8px;
    align-items: center;
    width: 400px;
}

section#cursos form input.text {
    margin-top: 10px;
    width: 70%;
}

section#cursos form input.btn {
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(105, 105, 232);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

section#cursos form input.btn:hover {
    background-color: blue;
    transform: translateY(-8px);
    box-shadow: 2px 2px 4px white;
}

.obs {
    margin-top: 15px;
    margin-bottom: 20px;
}

section#saude {
    background-color: rgba(145, 235, 235, 0.597);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

section#saude h2 {
    margin-bottom: 15px;
}

section#saude form {
    margin: auto;
    background-color: lightcyan;
    padding: 8px;
    align-items: center;
    width: 400px;
}

section#saude form input.saude {
    margin-top: 10px;
    width: 70%;
}

section#saude form input.btn {
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(105, 105, 232);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

section#saude form input.btn:hover {
    background-color: blue;
    transform: translateY(-8px);
    box-shadow: 2px 2px 4px white;
}

section#contato {
    background-color: rgba(145, 235, 235, 0.597);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

section#contato h2 {
    margin-bottom: 15px;
}

section#contato form {
    margin: auto;
    background-color: lightcyan;
    padding: 8px;
    align-items: center;
    width: 400px;
}

section#contato form input {
    margin-bottom: 15px;
    width: 70%;
}

section#contato form button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(105, 105, 232);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

section#contato form button:hover {
    background-color: blue;
    transform: translateY(-8px);
    box-shadow: 2px 2px 4px white;
}

.icon {
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

.icon a{
    padding: 15px;
    background-color: rgb(105, 105, 232);
    color: white;
    border-radius: 20px;
}

.icon a:hover {
    background-color: blue;
    transform: translateY(-8px);
    box-shadow: 2px 2px 4px white;
}

footer {
    background-color: rgba(145, 235, 235, 0.597);
    padding: 15px;
    text-align: center;
}

footer img {
    width: 100px;
}