@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
    }

    header img {
        width: 100px;
    }

    header h1 {
        display: none;
    }

    header ul li {
        display: flex;
        flex-direction: column;
    }

    header ul li a {
        width: 70px;
    }

    section#cursos form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section#cursos h2 {
        width: 100%;
    }



    section#saude form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section#contato form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section#contato form textarea {
        width: 80%;
    }

    .icon {
        display: flex;
        gap: 40px;
    }

}